@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    background-color: #2e86de;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}
form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
}
form h2{
    text-align: center;
    color: #e65b00;
    margin-bottom: 20px;
}
form input,textarea{
    border: 0;
    margin: 10px 0px;
    padding: 20px;
    outline: none;
    background: #d8d8d8;
    font-size: 16px;
    border-radius: 10px;
    resize: none;
}
form button{
    background-color: #fff;
    color: #2e86de;
    border: 1px solid #2e86de;
    padding: 15px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin: 20px auto 0;
    border-radius: 20px;
    transition: all 0.3s ease-in;
}
form button:hover{
    border: 1px solid #2e86de;
    background-color: #2e86de;
    color: #fff;
}